


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box; /*includes the padding and border in the width and height*/
    padding:0; /*sets the padding to 0*/
    margin: 0; /*sets the margin to 0*/
}



/*GENERAL ELEMENT SELECTORS*/

body {
    background-color: #d9dcd6; /*set the background color of the body*/
    color:#ffffff /*sets the font color of the text within the body*/
}

ul {
    list-style-type: none; /*sets the unorganized lists to not have bullet points*/
}

a {
    color: #ffffff; /*sets the font color of the links*/
    text-decoration: none; /*removes the underlines from the links*/
    margin:10px; /*sets the margin of the links so that they are properly spaced*/
}

p {
    font-size: 16px; /*sets the font size to 16px*/
}

img {
    max-height: 200px; /*sets the max height of all images to 200px*/
}



/*CLASS SELECTORS*/

.float-left {
    float: left; /*positions element to the left side of container*/
    margin-right: 25px; /*sets the margin area on the right side to 25px*/
}

.float-right {
    float: right; /*positions element to the right side of container*/
    margin-left: 25px; /*sets the margin area on the left side to 25px*/
}



/*HEADER SELECTORS*/

header {
    padding: 20px; /*sets the padding of header to 20px*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*sets the font*/
    background-color: #2a607c; /*sets the background color*/
}

header h1 {
    display: inline-block; /*sets display to inline-block to allow nav bar to sit next to this element*/
    font-size: 48px; /*sets font size to 48px*/
}

header .seo {
    color: #d9dcd6; /*sets color of only the letters seo in header*/
}



/*NAV SELECTORS*/

nav {
    padding-top: 15px; /*sets padding from top to 15px*/
    margin-right: 20px; /*sets margin on right tto 20px*/
    float: right; /*positions the element to the right side of cotaining block*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*sets the font*/
    font-size: 20px; /*sets the font size to 20px*/
    display:inline;
}

nav li {
    display:inline; /*allows navigation elements to sit next to each other*/
}



/*FIGURE SELECTORS*/

figure {
    height: 800px; /*sets height of background image*/
    width: 100%; /*sets width of background image*/
    margin-bottom: 25px; /*sets margin at bottom of background image to 25px*/
    background-image: url("../images/digital-marketing-meeting.jpg"); /*links the background image to the page*/
    background-size: cover; /*scales the image to the smallest possible size to fill the container*/
    background-position: center; /*posiitons the background image to center in container*/
}



/*MAIN SELECTORS*/

main {
    width: 75%; /*sets the width of container to 75%*/
    display: inline-block;/*allows other elements to be next to this element*/
    margin-left: 20px;/*sets the margin on the left side to 20px*/
}

main article {
    margin-bottom: 20px;/*sets the margin on the bottom to 20px*/
    padding: 50px; /*sets the padding around to 50px*/
    height: 300px; /*sets the height of each article to 300px*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*sets the font*/
    background-color: #0072bb; /*sets the background color*/
}

main article h2 {
    font-size: 36px; /*sets the font size to 36px*/
    margin-bottom: 20px; /*sets the bottom margin to 20px*/
}



/*ASIDE SELECTORS*/

aside {
    margin-right: 20px; /*sets the right margin to 20px*/
    padding: 20px; /*sets the padding to 20px*/
    float: right; /*positions element on right side of cotainer*/
    width: 20%; /*sets width of container to 20%*/
    height: 100%; /*sets height of container to 100%*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*sets font*/
    background-color: #2589bd; /*sets background color*/
    text-align: center; /*aligns text to center*/
}

aside p {
    margin-bottom: 32px; /*sets the margin from the bottom to 32px*/
    text-align:left /*aligns the text to the left*/
}

aside img {
    display: block; /*inserts a line break after the element*/
    margin: 10px auto; /*sets the margin around the images to 10px*/
    max-width: 150px; /*sets the maximum width of the images to 150px*/
}



/*FOOTER SELECTORS*/

footer {
    padding: 30px; /*sets padding around footer to 30px*/
    clear: both; /*sets element to be pushed below left and right floated elements*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*sets the font*/
    text-align: center; /*aligns the text to center*/
    color:black; /*sets font color to black*/
}

footer h4 {
    font-size: 20px; /*sets font size to 20px*/
}